fichiers de travail/flows-4.json
[
    {
        "id": "768e74a897643406",
        "type": "openweathermap in",
        "z": "e871af7e630c148c",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Saint-Jerome",
        "country": "Canada",
        "language": "en",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "c02bf0480a1e7a90",
                "5e676c9eda629c4a",
                "acbc34e623dc97da"
            ]
        ]
    },
    {
        "id": "c02bf0480a1e7a90",
        "type": "debug",
        "z": "e871af7e630c148c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e676c9eda629c4a",
        "type": "ui_gauge",
        "z": "e871af7e630c148c",
        "name": "",
        "group": "21b951899e97a56a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature St-Jérôme",
        "label": "deg C",
        "format": "{{msg.payload.tempc}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "afb595c04fef8e25",
        "type": "openweathermap",
        "z": "e871af7e630c148c",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Saint-Jerome",
        "country": "CA",
        "language": "en",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "5e676c9eda629c4a",
                "c02bf0480a1e7a90",
                "acbc34e623dc97da"
            ]
        ]
    },
    {
        "id": "221bbcc1b19c2f69",
        "type": "inject",
        "z": "e871af7e630c148c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "afb595c04fef8e25"
            ]
        ]
    },
    {
        "id": "acbc34e623dc97da",
        "type": "ui_gauge",
        "z": "e871af7e630c148c",
        "name": "",
        "group": "21b951899e97a56a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Direction du vent",
        "label": "degrees",
        "format": "{{msg.payload.winddirection}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 480,
        "y": 740,
        "wires": []
    },
    {
        "id": "21b951899e97a56a",
        "type": "ui_group",
        "name": "Default",
        "tab": "0238fdfea8665ea5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0238fdfea8665ea5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]