fichiers de travail/flux de données/flows.json
[
    {
        "id": "90c7cfe9608af679",
        "type": "inject",
        "z": "543a099ee4b2e719",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ESP32-00/commande",
        "payload": "w123#",
        "payloadType": "str",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "e366a354eb05f178"
            ]
        ]
    },
    {
        "id": "e366a354eb05f178",
        "type": "mqtt out",
        "z": "543a099ee4b2e719",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5690a40c01c4d48",
        "x": 490,
        "y": 900,
        "wires": []
    },
    {
        "id": "9fd3bd930f8ff0fb",
        "type": "inject",
        "z": "543a099ee4b2e719",
        "name": "Activer le relais",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ESP32-00/commande",
        "payload": "c",
        "payloadType": "str",
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "e366a354eb05f178"
            ]
        ]
    },
    {
        "id": "ec5b537059b5f056",
        "type": "mqtt in",
        "z": "543a099ee4b2e719",
        "name": "",
        "topic": "ESP32-00/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "f5690a40c01c4d48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 780,
        "wires": [
            [
                "c770eb2c869e4519"
            ]
        ]
    },
    {
        "id": "046458b74cb6a712",
        "type": "comment",
        "z": "543a099ee4b2e719",
        "name": "Serveur BLE:Maison et ESP32",
        "info": "",
        "x": 170,
        "y": 700,
        "wires": []
    },
    {
        "id": "c770eb2c869e4519",
        "type": "debug",
        "z": "543a099ee4b2e719",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 760,
        "wires": []
    },
    {
        "id": "f5690a40c01c4d48",
        "type": "mqtt-broker",
        "name": "",
        "broker": "cegep",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]